<p class="text-center large" data-behavior="question-container">
  Share this link with other participants:<br>
  <%= link_to @secret, new_topic_path(secret: @secret), data: { behavior: 'session-url-container' } %>
</p>

<p class="text-center">
  <button class="btn btn-default" type="button" data-behavior="copy-button" data-clipboard-target="[data-behavior=session-url-container]" title="Copy to clipboard">
    <i class="fa fa-copy"></i> Copy
  </button>
  <%= link_to 'Start session', new_topic_path(secret: @secret), class: 'btn btn-success' %>
</p>

<script type="text/javascript">
  new Clipboard("[data-behavior=copy-button]");
</script>
