<p class="text-center large">
  Share this link with other participants:<br>
</p>

<div class="input-group large">
  <input type="text" class="form-control" placeholder="Search for..." data-behavior="session-url-container">
  <span class="input-group-btn">
    <button class="btn btn-default" type="button" data-behavior="copy-button" data-clipboard-target="[data-behavior=session-url-container]">Copy!</button>
  </span>
</div>

<p class="text-center">
  <%= link_to 'Start session', new_topic_path(secret: @secret), class: 'btn btn-success' %>
</p>

<script type="text/javascript">
  var input = $("[data-behavior=session-url-container]")[0];
  input.value = window.location.origin + "<%= new_topic_path(secret: @secret) %>";
  new Clipboard("[data-behavior=copy-button]");
</script>
