<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- the above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <title>topic starter</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <style>
    html, body, .container {
      height: 95%;
    }

    body {
      padding: 20px;
    }

    .container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      max-width: 40em;
    }
  </style>
</head>
<body>
  <div class="container">
    <p class="text-center question lead"><%= question %></p>
    <p class="text-center"><a href="/" class="btn btn-default">Moar!</a></p>
  </div>
</body>
</html>
