<h1 class="question" data-behavior="question"><%= @question %></h1>

<div class="btn-toolbar" role="toolbar">
  <div class="btn-group" role="group">
    <button class="btn btn-lg btn-default" type="button" data-behavior="copy-button" data-clipboard-target="[data-behavior=question]" title="Copy to clipboard">
      <svg width="1792" height="1792" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1696 384q40 0 68 28t28 68v1216q0 40-28 68t-68 28h-960q-40 0-68-28t-28-68v-288h-544q-40 0-68-28t-28-68v-672q0-40 20-88t48-76l408-408q28-28 76-48t88-20h416q40 0 68 28t28 68v328q68-40 128-40h416zm-544 213l-299 299h299v-299zm-640-384l-299 299h299v-299zm196 647l316-316v-416h-384v416q0 40-28 68t-68 28h-416v640h512v-256q0-40 20-88t48-76zm956 804v-1152h-384v416q0 40-28 68t-68 28h-416v640h896z"/></svg>
      Copy
    </button>
  </div>
  <div class="btn-group" role="group" aria-label="...">
    <%= link_to('Moar!', new_topic_path(secret: @secret, format: :js), remote: true, class: 'btn btn-lg btn-success moar-button', data: { behavior: 'moar-button' }) %>
  </div>
</div>

<script type="text/javascript">
  "use strict";

  $(function () {
    new Clipboard("[data-behavior=copy-button]");
  });
</script>

<% if @secret %>
  <script type="text/javascript">
    "use strict";

    $(function () {
      App.subscribeToTopics("<%= @secret %>");
    });
  </script>
<% end %>
