<p class="text-center large" data-behavior="question-container">
  <%= @question %>
</p>

<div class="btn-toolbar" role="toolbar">
  <div class="btn-group" role="group">
    <button class="btn btn-default" type="button" data-behavior="copy-button" data-clipboard-target="[data-behavior=question-container]" title="Copy to clipboard">
      <i class="fa fa-copy"></i> Copy
    </button>
  </div>
  <div class="btn-group" role="group" aria-label="...">
    <%= link_to 'Moar!', new_topic_path(secret: @secret, format: :js), remote: true, class: 'btn btn-success', data: { behavior: 'moar-button' }, onclick: "this.blur();" %>
  </div>
</div>

<script type="text/javascript">
  new Clipboard("[data-behavior=copy-button]");
</script>

<% if @secret %>
  <script type="text/javascript">
    "use strict";

    App.topics = App.cable.subscriptions.create({
      channel: "TopicsChannel",
      secret: "<%= @secret %>"
    }, {
      connected: function() {
        console.log("Subscription is ready for use on the server");
      },
      disconnected: function() {
        console.log("Subscription has been terminated by the server");
      },
      received: function(event) {
        console.log("Got a new question: " + event.question);
        App.updateQuestion(event.question);
      }
    });
  </script>
<% end %>
