<p class="text-center question lead" data-behavior="question-container">
  <%= @question %>
</p>

<p class="text-center">
  <%= link_to 'Moar!', new_topic_path(format: :js), remote: true, class: 'btn btn-default' %>
</p>
