//= require jquery-ui/core
//= require font-awesome
//= require animate-css/animate

@import "bootstrap-sprockets";
@import "bootstrap";

$span-medium: 20px;

html,
body,
.container {
  height: 95%;
}

body {
  padding: $span-medium;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 40em;
}

$color-muted-text: #ddd;

.copy-button {
  color: $color-muted-text;
}

.large {
  font-size: 28px;
  margin-bottom: $span-medium;
}

.menu {
  .menu-item {
    display: inline-block;
    padding-right: $span-medium;
  }
}

.question {
  background-color: transparent;
  transition: background-color 2s;
}

.question--highlighted {
  background-color: red;
}
