//= require animate-css/animate

@import 'bootstrap';

$span-medium: 1em;

html,
body,
.container {
  height: 95%;
  padding: 0;
}

body {
  padding: $span-medium;
}

h1 {
  font-size: $font-size-h2;
  font-weight: normal;
  line-height: 1.4;
  margin-bottom: $span-medium;
  text-align: center;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 40em;
}

.question {
  background-color: transparent;
  border-radius: .5em;
  padding: .25em .75em;
  transition: background-color 1s ease-out 0s;
}

.question--highlighted {
  background-color: #ffff99;
  transition-duration: 0s;
}

.session-form {
  margin-bottom: $span-medium * 2;
}

.btn,
.nav {
  svg {
    fill: currentColor;
    height: 1em;
    vertical-align: -0.125em;
    width: 1em;
  }
}

.moar-button {
  min-width: 8em;
}
